name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22"

      - name: Go mod download
        run: go mod download

      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59
          args: ./...

      - name: Test
        run: go test ./...
